@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1723689684857') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinle:before {
  content: "\f0064";
}

.icon-yinle1:before {
  content: "\e642";
}

.icon-yinletianchong:before {
  content: "\e6a1";
}

