.box {
  width: 100px;
  height: 100px;
  background-color: red;
}
.box1 {
  width: 100px;
  height: 100px;
  background-color: #333;
  font-size: 33px;
}
.container {
  width: 200px;
  height: 200px;
  background-color: #333;
}
.container .box3 {
  width: 100px;
  height: 100px;
  background-color: red;
}
